@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .status-dot {
    @apply inline-block w-2 h-2 rounded-full;
  }
  .status-dot.online {
    @apply bg-green-500;
  }
  .status-dot.offline {
    @apply bg-red-500;
  }
  .status-dot.warning {
    @apply bg-yellow-500;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}
